<!DOCTYPE>
<html>
<head lang="ko">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SEOKMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon.png">
    <link rel="icon" href="./favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/main.css" />

    <script src="/libs/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/libs/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div id="browser-happy"></div>

    <header>
        <div class="top">
            <span id="logo">@SEOKMA</span>
            <div id="profile">
                <img src="./seokju.png" alt="profile" />
            </div>
        </div>
        <div class="bottom">
            <span id="INDEX-my-name">나석주</span>
            <span id="INDEX-email">seokmaTD@gmail.com</span>
        </div>
    </header>


    <div class="paper-handle-menu">
        <button id="btn_filter-paper" class="paper-handle-btns shadow"><i class="material-icons">&#xE3E0;</i></button>
        <button id="btn_search-paper" class="paper-handle-btns shadow"><i class="material-icons">&#xE8B6;</i></button>
        <button id="btn_order-paper" class="paper-handle-btns shadow"><i class="material-icons">&#xE5D0;</i></button>
    </div>


    <main>
        <section id="paper-list">

        </section>

        <section class="main-footer">
            <button id="btn_load-more"><span>더 불러오기</span></button>
        </section>
    </main>

    <footer>
        <div class="footer-inner">
        </div>
    </footer>


    <div id="COL" class="_col_" style="display: none;"></div>

    <div id="PAPER_POST" class="paper paper-post" style="display: none;">
        <div class="pre-post-box">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div class="paper-post-title">
            <span data-attr="sub-title" class="sub-title"></span>
            <span data-attr="title" class="title"></span>
        </div>
        <div class="paper-post-middle"><img data-attr="title-image" alt="title-image" /></div>
        <div class="paper-post-bottom">
            <span class="paper-post-bottom-item">조회수</span><span data-attr="view-count" class="paper-post-bottom-count"></span>
            <span class="paper-post-bottom-division">&#124;</span>
            <span class="paper-post-bottom-item">좋아요</span><span data-attr="like-count" class="paper-post-bottom-count"></span>
            <span class="paper-post-bottom-division">&#124;</span>
            <span class="paper-post-bottom-item">댓글</span><span data-attr="comment-count" class="paper-post-bottom-count"></span>
        </div>
        <hr />
        <div data-attr="tags" class="paper-tags">
        </div>
    </div>
    <div id="PAPER_PRODUCT" class="paper paper-product shadow" style="display: none;"></div>
    <div id="PAPER_PROJECT" class="paper paper-project shadow" style="display: none;"></div>
    <div id="PAPER_APP" class="paper paper-app shadow" style="display: none;"></div>

    <script defer>

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script defer src="/js/main.js" type="text/javascript"></script>
</body>
</html>